* {
	box-sizing: border-box;
	user-select: text;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
  outline: none;
}

html.is-clipped {
	overflow: hidden;
}

html, body {
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

body, figure {
	margin: 0;
}

img, svg {
	width: 100%;
	height: auto;
	vertical-align: top;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
