.page {
	height: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

main {
  width: 100%;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
