<template>
  <nav>
    <nuxt-link to="/">Grey</nuxt-link>
    <nuxt-link to="/green">Green</nuxt-link>
    <nuxt-link to="/orange">Orange</nuxt-link>
    <nuxt-link to="/blue">Blue</nuxt-link>
  </nav>
</template>

<style lang="scss">
  nav {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    a {
      display: inline-block;
      color: $color-white;
      border-bottom: u(2px) transparent solid;
      text-decoration: none;
      line-height: 1.5em;

      + a {
        margin-left: u(20px);
      }
    }

    .active--exact {
      border-color: $color-white;
    }
  }
</style>
