<template>
  <div class="page">
    <main>
      <h1>BOLD SPA Example</h1>
      <navigation/>
    </main>
  </div>
</template>

<script>
import navigation from '~/components/navigation.vue'

export default {
  components: {
    navigation
  }
}
</script>

<style lang="scss" scoped>
  .page {
    background: $color-dark-grey;
  }
</style>
