// Default colors
$color-white: rgb(255,255,255) !default;
$color-black: rgb(0,0,0) !default;
$color-light-grey: rgb(237, 237, 237) !default;
$color-mid-grey: rgb(153, 153, 153) !default;
$color-dark-grey: rgb(68, 68, 68) !default;

// Project colors
$color-green: #6ecd9c;
$color-orange: #fec16d;
$color-blue: #5fa8e5;

// Fonts
$font: "Arial", sans-serif;
